<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="MyPoint1" closeTimeout="00:01:00“" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                        bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                        maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                        messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                        allowCookies="false"/>
      </wsHttpBinding>

    </bindings>

    <client>
      <endpoint name="MyPoint1"
        address="http://localhost:8000/EmployeeRepository/"    binding="wsHttpBinding"
        contract="Models.IEmployeeRepository"
        bindingConfiguration="MyPoint1" >
      </endpoint>

    </client>
  </system.serviceModel>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="ServiceModelTraceListener" 
			   type="System.Diagnostics.XmlWriterTraceListener" 
			   initializeData="wcf-server-traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <!--<system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <add type="WebApplication1.Employee, Models"/>
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>-->
</configuration>